.table {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
}

.table__column {
  padding: 20px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
}

.table__column--alive {
  background-color: pink;
}
